.nutrition-list {
  margin-top: 20px;
}

.nutrition-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}

.nutrition-image-wrapper {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
}

.nutrition-item-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.nutrition-description {
  margin-top: 10px;
  flex: 1 1 auto;
}

/* Chrome, Safari, Edge, Opera */
.nutrition-price-controls input::-webkit-outer-spin-button,
.nutrition-price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.nutrition-price-controls input[type=number] {
  -moz-appearance: textfield;
}

.nutrition-price-controls {
  display: flex;
  justify-content: center;
}

.nutrition-price-controls input {
  overflow: hidden;
  text-align: center;
  border-radius: 0;
  width: 40%;
}

.nutrition-price-controls button {
  border: none;
  background-color: #31b0d5;
  color: #fff;
}

.nutrition-price-controls button.decrease {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nutrition-price-controls button.increase {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nutrition-price {
  text-align: center;
}